<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.koetshuiskoken">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_koetshuis_koken"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges="locale|orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DinnerActivity"
            android:label="@string/dinner_activity"
            android:configChanges="locale|orientation|screenSize|keyboardHidden">
        </activity>
        <activity
            android:name=".ChooseLocaleActivity"
            android:label="@string/choose_locale"
            android:configChanges="locale|orientation|screenSize|keyboardHidden">
        </activity>
   </application>

</manifest>